<div class="row">
   <div class="small-12 columns"  ng-controller="testCtrl" data-ng-cloak>
      <input type="text" name="uname" id="" data-ng-model="appName">
      <h2>{{appName}}</h2>
      <h3>
         The total todo(s) we have: <b>{{t_length()}}</b>
      </h3>
      <p>An introduction to <code>angular</code> + <code>requireJS</code> + <code>angularAMD</code></p>
      <div class="large-6 columns">
         <ul>

            <li data-ng-repeat="(key, todo) in todos">
               <input  type="checkbox" name="done" id="{{key}}" data-ng-model="todo.done">
               <label for="{{key}}" class="ng-done-{{todo.done}}">{{todo.name}}</label>
            </li>
         </ul>
         <input type="text" name="addTodo" id="" data-ng-model="newTodo">
         <input type="button" value="Add todo" class="button" data-ng-click="addTodo()">
         <input type="button" value="remove Dones" class="button" data-ng-click="removeDone()">
      </div>
   </div>
</div>
   