<div class="row">
    <div class="large-6 columns">
        <h1>login form demo:</h1>
        <h3> {{status}}</h3>
        <div class="row collapse prefix-radius">
            <div class="small-2 columns">
                <span class="prefix">username</span>
            </div>
            <div class="small-10 columns">
                <input type="text" name="username" id="username" data-ng-model="username" value="admin">
            </div>
        </div>
        <div class="row collapse prefix-radius">
            <div class="small-2 columns">
                <span class="prefix">password</span>
            </div>
            <div class="small-10 columns">
                <input type="password" name="password" value="admin" id="password" data-ng-model="password">
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <input type="button" class="button" value="Login" ng-click="login()">
                <input type="button" class="button" value="clear" data-ng-click="clear">
            </div>
        </div>
    </div>
</div>
