<div class="row">
   <div class="small-12 columns"  ng-controller="testCtrl" ng-cloak>
      
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <input class="form-control" type="text" name="uname" id="" ng-model="appName">
         <h2>{{appName}}</h2>
         <h6>{{date | date: 'longDate'}}</h6>
         <h3>
            {{'TODOCOUNT' | translate}} <b>{{t_length()}}</b>
         </h3>
         <p>{{'TODOINTRO' | translate}} <code>angular</code> + <code>requireJS</code> + <code>angularAMD</code></p>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <ul>

               <li class="toggle" ng-repeat="(key, todo) in todos | filter:newTodo">
                  <input  type="checkbox" name="done" id="{{key}}" ng-model="todo.done">
                  <label for="{{key}}" class="ng-done-{{todo.done}}">{{todo.name}}</label>
               </li>
            </ul>
            

            <div class="row">
               <div class="input-group">
                  <span class="input-group-addon">new Todo name:</span>
                  <input type="text" name="addTodo" class="form-control" ng-model="newTodo">   
               </div>
               <br>
               
               <button type="button" class="btn btn-primary" ng-click="addTodo()">Add todo</button>
               <button type="button" class="btn btn-default" ng-click="removeDone()">remove Dones</button>
            </div>
         </div>
      </div>
   </div>      
</div>   
