<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title></title>
   <meta name="description" content="">
   <link rel="stylesheet" href="css/normalize.min.css">
   <link rel="stylesheet" href="css/foundation.min.css" />
   <link rel="stylesheet" href="css/main.css">
   <!-- <script src="js/vendor/modernizr.js"></script> -->

<!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
   <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
   <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->
   <style>
      ul{
         list-style-type: none;
      }
      .ng-done-true{
         text-decoration: line-through;
         color: #999;
      }
   </style>
</head>

<body>
<!--[if lt IE 8]>
   <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
   
<!-- Content start! -->
   <div class="row">
      <div class="small-12 columns"  ng-controller="testCtrl" data-ng-cloak>
         <input type="text" name="uname" id="" data-ng-model="username">
         <h2>{{username}}</h2>
         <h3>
            The total todo(s) we have: <b>{{t_length()}}</b>
         </h3>
         
         <div class="large-6 columns">
            <ul>

               <li data-ng-repeat="(key, todo) in todos">
                  <input  type="checkbox" name="done" id="{{key}}" data-ng-model="todo.done">
                  <label for="{{key}}" class="ng-done-{{todo.done}}">{{todo.name}}</label>
               </li>
            </ul>
            <input type="text" name="addTodo" id="" data-ng-model="newTodo">
            <input type="button" value="Add todo" class="button" data-ng-click="addTodo()">
            <input type="button" value="remove Dones" class="button" data-ng-click="removeDone()">
         </div>
      </div>
   </div>
   <div class="row" >
      <div class="large-6 columns">
         <h1>login form demo:</h1>
         <div class="row collapse prefix-radius">
            <div class="small-2 columns">
               <span class="prefix">username</span>
            </div>
            <div class="small-10 columns">
               <input type="text" name="username" id="username" value="admin">
            </div>
         </div>
         <div class="row collapse prefix-radius">
            <div class="small-2 columns">
               <span class="prefix">password</span>
            </div>
            <div class="small-10 columns">
               <input type="password" name="password" value="admin" id="password">
            </div>
         </div>
         <div class="row" data-ng-controller="loginCtrl as login">
            <div class="small-6 columns">
               <input type="button" class="button" value="Login" data-ng-
               click="login.checkLogin()">
               <input type="button" class="button" value="clear">
         </div>
      </div>
   </div>
<!-- Content end! -->
   

   <script src="js/bower_components/requirejs/require.js" data-main="js/main"></script>

</body>

</html>
