<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Angular google map</h1>
			<ul>
				<li>{{'USING' | translate}} <code>AngularAMD.js</code> {{'ONDEMANDLOADING' | translate}}</li>
				<li>{{'USING' | translate}} <code>async.js</code> {{'FORLOAD' | translate}} google map API</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ui-gmap-google-map 
				center='map.center' 
				zoom='map.zoom' 
				bounds="fitBounds">
				<ui-gmap-markers
					models="markers"
					coords="'self'"
					click=""
					

				>
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
	</div>
</div>