<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>{{'USING' | translate}} <code>json-server.js</code> <a href="https://www.npmjs.com/package/json-server"> link</a></h1>
			<h3><code>$ json-server db.js</code> {{'TOSTART' | translate}} <code>json-server.js</code></h3>
			<ul>
				<li ng-repeat="value in data">
					<h4>Author: {{value.author}}</h4>
					<b>title: </b>{{value.title}} <br><br>
				</li>
			</ul>
			{{'RECIVEDDATA' | translate}}: <br>
			<pre>{{display}}</pre>
			{{'THROUGH' | translate}}: <code>http://localhost:3000/posts</code>

			<h3>{{'USING' | translate}} [A]ngular constant: <code>WHOOSH</code></h3>
			<pre>{{WHOOSH}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- <iframe src="https://ogone.test.v-psp.com/Tokenization/HostedPage?Account.PSPID=mpptis1917cannes&Alias.AliasId=tisurbankikonew&Alias.OrderId=7895&Alias.StorePermanently=Y&Card.Brand=VISA&Layout.Language=en_US&Parameters.AcceptUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_callback&Parameters.ExceptionUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_error&ShaSignature.ShaSign=C648BC72CABB5FD9044ED7B94784B8DE3DB37FD3" frameborder="0" style="width: 100%; height: 400px"></iframe> -->


			<iframe src="https://ogone.test.v-psp.com/Tokenization/HostedPage?Account.PSPID=mpptis1917cannes&Alias.AliasId=tisurbankikonew&Alias.OrderId=7895&Alias.StorePermanently=Y&Card.Brand=VISA&Layout.Language=en_US&Parameters.AcceptUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_callback&Parameters.ExceptionUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_error&ShaSignature.ShaSign=C648BC72CABB5FD9044ED7B94784B8DE3DB37FD3" frameborder="0" style="width: 100%; height: 400px"></iframe>
			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<!-- <iframe src="https://testsecureacceptance.cybersource.com/token/create" frameborder="0" style="width: 100%; height: 400px"></iframe> -->
		</div>
	</div>
</div>


<!-- 
Account.PSPID=mppintegcity5cannes
&Alias.AliasId=ospirittt
&Alias.OrderId=9452
&Alias.StorePermanently=Y
&Card.Brand=VISA
&Layout.Language=en_US
&Parameters.AcceptUrl=https://my-integration.parkeon.whooshstore.com/FR/parking/payment_callback
&Parameters.ExceptionUrl=hhttps://my-integration.parkeon.whooshstore.com/FR/parking/payment_error


&ShaSignature.ShaSign=BC28F9967A902974FFC3A4C3D31BD97B7E96B910




Account.PSPID=mppdevcity141dhj5422d1g52f1Card.Brand=VISA41dhj5422d1g52f1Parameters.AcceptUrl=https://my-integration.parkeon.whooshstore.com/FR/parking/payment_callback41dhj5422d1g52f1Parameters.ExceptionUrl=hhttps://my-integration.parkeon.whooshstore.com/FR/parking/payment_errorr41dhj5422d1g52f1
-->

<!-- 
https://ogone.test.v-psp.com/Tokenization/HostedPage?Account.PSPID=mppdevcity1&
Bgcolor=#000&
Card.Brand=VISA&
Parameters.AcceptUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_callback&
Parameters.ExceptionUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_error&
ShaSignature.ShaSign=406F755E26C8740B5EC674826EF49991400B6AA4 




https://ogone.test.v-psp.com/Tokenization/HostedPage?Account.PSPID=mppdevcity1&Card.Brand=VISA&Parameters.AcceptUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_callback&Parameters.Bgcolor=000&Parameters.ExceptionUrl=https://my-tis.parkeon.whooshstore.com/FR/parking/payment_error&ShaSignature.ShaSign=406F755E26C8740B5EC674826EF49991400B6AA4  -->